<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book == null} ? 'Book not found' : 'Details for book #' + ${book.getId()}" />
</head>
<body>
  <div>
    <p th:if="${book == null}">This book does not exist.</p>
    <div th:unless="${book == null}">
      <p th:if="${book.getBuddies().isEmpty()}">There are no buddies associated with this book.</p>
      <table th:unless="${book.getBuddies().isEmpty()}">
        <tr>
          <th>
            Name
          </th>
          <th>
            Phone number
          </th>
        </tr>
        <tr th:each="buddy : ${book.getBuddies()}">
          <td th:text="${buddy.getName()}" />
          <td th:text="${buddy.getPhoneNumber()}" />
          <td>
            <form th:action="'/' + ${book.getId()} + '/' + ${buddy.getId()}" method="post">
              <input type="submit" value="Delete" />
            </form>
          </td>
        </tr>
      </table>
      <a th:href="'/' + ${book.getId()} + '/add'">
        <button>Add buddy</button>
      </a>
    </div>
  </div>
  <a href="/">
    <button>Back</button>
  </a>
</body>
</html>